<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - Pergunta 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>De que jogo é este personagem ou cena?</h1>
    <img src="{{ url_for('static', filename='1.jpg') }}" alt="Imagem do jogo" class="game-image">
    <form method="post" action="{{ url_for('desafio_personagem', question_index=0) }}">
        <div class="button-container">
            <button type="submit" name="option" value="0">Dragon Age Inquisition</button>
            <button type="submit" name="option" value="1">Pathfinder</button>
            <button type="submit" name="option" value="2">Baldur's Gate 3</button>
            <button type="submit" name="option" value="3">The Witcher 3: Wild Hunt</button>
        </div>
    </form>
</body>
</html>