<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - Pergunta 4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="quiz-container">
        <h1>De que jogo é este personagem ou cena?</h1>
        <img src="{{ url_for('static', filename='4.jpg') }}" alt="Imagem do Jogo" class="game-image">

        <form method="post">
            <div class="button-container">
                <button type="submit" name="option" value="0" class="btn btn-paz">Dead by Daylight</button>
                <button type="submit" name="option" value="1" class="btn btn-paz">Dead Rising</button>
                <button type="submit" name="option" value="2" class="btn btn-paz">Left 4 Dead 2</button>
                <button type="submit" name="option" value="3" class="btn btn-paz">Dead Island</button>
            </div>
        </form>
    </div>
</body>
</html>